.my-submit-btn {
  background-color: #4caf50;
  border: 2px solid #2e7d32;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.my-submit-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.my-submit-btn:active {
  transform: scale(0.95); 
  background-color: #45a049; 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
